name: Build

on:
  push:
  pull_request:
  schedule:
    # 10am, every Monday
    - cron: '0 10 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
    - run: ./bots/run.sh
