name: Check resources up-to-date

on:
  schedule:
    # 10am, 1st of every month
    - cron: '0 10 1 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - run: ./bots/check_up_to_date.sh
